<div class="modal">
  <form action="#" method="POST" class="modal__form" id="modalForm">
    <p class="modal__close"></p>
    <h2 class="modal__title">Reserve a table</h2>
    <div class="modal__input-wrapper">
      <label class="modal__label modal__flex-item" for="name">Name
        <input autofocus class="modal__input" type="text" name="name" id="name" placeholder="input your name">
      </label>

      <label class="modal__label modal__flex-item" for="email">Email
        <input class="modal__input" type="email" name="email" id="email" placeholder="input your email">
      </label>
    </div>
    <label class="modal__label" for="request">Speciale Request
      <textarea class="modal__textarea" name="email" id="request" placeholder="input your special request"></textarea>
    </label>
    <button class="modal__btn btn" type="submit">Send</button>
  </form>

</div>