@import "base/_01_normalize.scss";
@import "base/_mixins.scss";
@import "global/_global.scss";
@import "global/_fonts.scss";

$lightblue: #3a4574;

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;

  &.lock {
    overflow: hidden;
  }
}
.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @media (max-width: 1920px) {
    min-width: 100%;
  }
  @media (max-width: 479.98px) {
    min-width: 320px;
    width: 100%;
  }
}

.container {
  max-width: 1210px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 38px 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: $lightblue;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  &:hover {
    background: #8894ce;
  }

  @media (max-width: 991.98px) {
    padding: 26px 48px;
  }
  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}
//============================================================
//HEADER
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  // .header__body

  &__body {
    padding: 55px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    a,
    a:visited {
      color: #ffffff;
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    width: 269px;
    height: 55px;
    margin-left: 7px;
    background: url("../img/logo.svg") center / contain no-repeat;
    z-index: 10;
  }

  // .header__nav

  &__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65.5%;
    -ms-flex: 0 0 65.5%;
    flex: 0 0 65.5%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .header__menu

  &__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .header__nav-item

  &__nav-item {
    margin-right: 45px;
  }

  // .header__nav-link

  &__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  // .header__contacts

  &__contacts {
    display: block;
    position: relative;
    padding: 5px 0 4px 36px;
    margin-right: 6px;
    background: url("../img/call.svg") left / contain no-repeat;
  }

  &__menu-icon {
    display: none;
  }

  @media (max-width: 1200px) {
    &__nav-item {
      margin-right: 34px;
    }
  }

  @media (max-width: 991.98px) {
    &__body {
      padding: 25px 0;
      color: #000000;
      a,
      a:visited {
        color: #000000;
      }
    }

    &__logo {
      width: 174px;
      height: 32px;
      margin: 0 10px 0 0;
      background: url("../img/logo_footer.svg") center / contain no-repeat;
    }
    &__nav {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
      flex: 0 0 70%;
    }
    &__nav-link {
      font-size: 12px;
      line-height: 16px;
    }
    a.header__contacts {
      font-size: 12px;
      line-height: 16px;
      color: #d3b47f;
      padding: 3px 0 2px 30px;
    }
  }

  @media (max-width: 767.98px) {
    &__body {
      color: #fff;
      a,
      a:visited {
        color: #fff;
      }
    }
    &__logo.open {
      background: url("../img/logo.svg") center / contain no-repeat;
    }
    // .header__menu-icon
    &__menu-icon {
      position: relative;
      display: block;
      width: 35px;
      height: 23px;
      margin-right: 20px;
      cursor: pointer;
    }

    &__nav {
      position: absolute;
      top: 0;
      left: -100vw;
      min-width: 100%;
      height: 100vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;

      &.open {
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        padding: 100px 50px 50px;
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
      .header__nav-item {
        margin-bottom: 20px;
        border-bottom: 1px solid #d3b47f;
      }
      .header__nav-link {
        display: block;
        padding-bottom: 10px;
        width: 100%;
      }
    }

    &__menu {
      display: block;
      width: 60%;
    }
  }
}

.menu-icon {
  // .menu-icon__item

  &__item {
    position: absolute;
    left: 0;
    height: 3px;
    width: 40px;
    background-color: #d3b47f;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  // .menu-icon__item1

  &__item1 {
    top: 0;
  }

  // .menu-icon__item2

  &__item2 {
    top: 10px;
  }

  &__item3 {
    bottom: 0;
  }

  &.active {
    .menu-icon__item {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }
    .menu-icon__item1 {
      top: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .menu-icon__item2 {
      display: none;
    }

    .menu-icon__item3 {
      bottom: 10px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

//============================================================
// MAIN SECTION

.main {
  background: url("../img/bg_1.jpg") top / cover no-repeat;

  &__body {
    padding: 263px 5px 264px;
    color: #ffffff;
  }

  // .main__opentime

  &__opentime {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.075em;
    color: #ffffff;
  }

  // .main__title

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 138%;
    letter-spacing: 0;
  }

  // .main__bottom

  &__bottom {
    margin-top: 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .main__btn

  // .main__links

  &__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    li {
      margin-right: 25px;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }

  // .main__link

  &__link {
    display: block;
    width: 48px;
    height: 48px;
    padding-top: 13px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    &:visited {
      color: #ffffff;
    }
  }
  &__image_m {
    display: none;
  }

  @media (max-width: 991.98px) {
    background: #fff;
    &__body {
      color: #000000;
      padding: 120px 0 50px;
    }
    &__opentime {
      color: #000000;
    }
    a.main__link,
    a:visited.main__link {
      color: #000000;
      border: 1px solid #000000;
    }
    &__title {
      font-size: 52px;
    }
    &__opentime {
      font-size: 20px;
    }
    &__bottom {
      margin: 30px 0;
    }
    &__image_m {
      display: block;
      width: 100%;
      overflow: hidden;
      img {
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
  @media (max-width: 767.98px) {
    &__title {
      font-size: 46px;
    }
    &__body {
      padding: 180px 5px 140px;
    }
    &__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: start;
      -ms-flex-align: start;
      align-items: start;
    }
    &__btn {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 479.98px) {
    &__title {
      font-size: 32px;
    }
    &__opentime {
      font-size: 16px;
    }
  }
}

//=====================================================
//MENU
.menu {
  // .menu__body

  &__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 81px 0 91px 4px;
    color: #000000;
  }

  // .menu__text

  &__text {
  }

  // .menu__item

  &__item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
  }

  // .menu__day

  &__day {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  // .menu__dishes

  &__dishes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
    & > * {
      margin-right: 12px;
    }
  }

  // .menu__dish

  &__dish {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  // .menu__point

  &__point {
    width: 5px;
    height: 5px;
    background: url("../img/point.svg") center / contain no-repeat;
  }

  // .menu__images

  &__images {
    position: relative;
    height: 636px;
    min-height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 57.4%;
    -ms-flex: 0 0 57.4%;
    flex: 0 0 57.4%;
  }

  // .menu__image

  &__image {
    position: absolute;
    overflow: hidden;
  }

  // .menu__image1

  &__image1 {
    bottom: 0;
    left: 0;
    width: 48%;
    height: 76%;
    background: url("../img/img2-1.png") center / cover no-repeat;
  }

  // .menu__image2

  &__image2 {
    top: 48px;
    left: 96px;
    width: 70.5%;
    height: 79.7%;
    border: 2px solid #d3b47f;
    z-index: -1;
  }

  // .menu__image3

  &__image3 {
    top: 0;
    right: 5px;
    width: 48%;
    height: 76.5%;
    background: url("../img/img2-2.png") center / cover no-repeat;
  }

  @media (max-width: 1200px) {
    &__images {
      height: 568px;
      min-height: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
    }
    &__dishes {
      & > * {
        margin-right: 7px;
      }
    }
  }
  @media (max-width: 991.98px) {
    &__body {
      display: block;
    }
  }
  @media (max-width: 767.98px) {
    &__body {
      padding: 50px 0;
    }
    &__images {
      height: 450px;
    }
    &__day {
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 26px;
    }

    // .menu__dishes

    &__dishes {
      margin-bottom: 14px;
      & > * {
        margin-right: 7px;
      }
    }

    // .menu__dish

    &__dish {
      font-size: 14px;
      line-height: 18px;
    }
  }
  @media (max-width: 479.98px) {
    &__images {
      height: auto;
    }
    &__image {
      position: relative;
      min-width: 100%;
      height: 430px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 20px;
    }
    &__image2 {
      display: none;
    }
    &__dishes {
      & > * {
        margin-bottom: 7px;
      }
    }
  }
}

//============================================================
//FEEDEBACK slider
.feedback {
  background: $lightblue;
  padding: 220px 0 219px;

  // .feedback__slider

  &__slider {
    position: relative;
  }

  // .feedback__slide

  &__slide {
  }
  @media (max-width: 991.98px) {
    padding: 160px 0;
  }
  @media (max-width: 767.98px) {
    padding: 100px 0;
  }
  @media (max-width: 479.98px) {
  }
}

.swiper-slide {
  // .swiper-slide__icon

  &__icon {
    width: 83px;
    height: 58px;
    margin: 0 auto 34px;
    background: url("../img/quote.svg") center / contain no-repeat;
  }

  // .swiper-slide__title

  &__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #d3b47f;
  }

  // .swiper-slide__text

  &__text {
    width: 66%;
    margin: 0 auto 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    text-align: center;
    color: #ffffff;
  }

  // .swiper-slide__author

  &__author {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167%;
    text-align: center;
    letter-spacing: 0.24em;
    color: #d3b47f;
  }

  &__button-next,
  &__button-prev {
    background: url("../img/arrow_l.svg") center / contain no-repeat;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 52px;
    margin-top: -webkit-calc(0px - (var(--swiper-navigation-size) / 2) - 10px);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2) - 10px);
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    &.swiper-button-disabled {
      background: url("../img/arrow_l_gold.svg") center / contain no-repeat;
    }
  }

  &__button-next {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    right: 25px;
    left: auto;
  }
  &__button-prev {
    left: 25px;
    right: auto;
  }
  @media (max-width: 991.98px) {
    &__icon {
      width: 63px;
      height: 44px;
      margin: 0 auto 24px;
    }
    &__title {
      font-size: 28px;
    }

    // .swiper-slide__text

    &__text {
      width: 80%;
    }

    // .swiper-slide__author

    &__author {
      font-size: 22px;
      letter-spacing: 0.28em;
    }
  }
  @media (max-width: 767.98px) {
    &__icon {
      width: 46px;
      height: 32px;
    }
    &__title {
      font-size: 24px;
    }
    &__author {
      font-size: 18px;
      letter-spacing: 0.21em;
    }
    &__text {
      width: 100%;
      line-height: 180%;
    }
    &__button-next,
    &__button-prev {
      top: auto;
      bottom: -45px;
      width: 17px;
      height: 33px;
    }
  }
  @media (max-width: 479.98px) {
  }
}

//==================================================
//ABOUT

.about {
  padding: 109px 0 50px;

  // .about__body

  &__body {
  }

  // .about__card-text

  &__card-text {
    padding: 0 40px 0 2px;
  }

  // .about__card

  &__card {
    margin-bottom: 30px;
    padding: 0 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    // .about__card_1

    &_1 {
    }

    // .about__card_2

    &_2 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      .about__card-text {
        padding: 0 0 0 33px;
      }
    }

    // .about__card_3

    &_3 {
    }
  }

  // .about__card-title

  &__card-title {
    position: relative;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 220%;

    &::before {
      position: absolute;
      content: "";
      bottom: -4px;
      left: -54px;
      height: 1px;
      width: 108px;
      background-color: #d3b47f;
    }
  }

  // .about__card-description

  &__card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #808080;
  }

  // .about__card-img

  &__card-img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 57%;
    -ms-flex: 0 0 57%;
    flex: 0 0 57%;
    overflow: hidden;
    max-height: 560px;
    img {
      min-width: 100%;
    }
  }

  @media (max-width: 991.98px) {
    &__card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &__card-text {
      padding: 0;
      margin-bottom: 20px;
    }
    &__card_2 {
      .about__card-text {
        padding: 0;
      }
    }
    &__card-title {
      padding: 0 0 0 60px;
      &::before {
        left: 0;
      }
    }
    &__card-img {
      width: 100%;
      img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 50px 0 40px;
    &__card-title {
      font-size: 28px;
      padding: 0;
    }

    &__card-description {
      font-size: 14px;
    }
  }
}

//============================================================
//PHOTOS
.photos {
  padding: 73px 0 0;
  background: -o-linear-gradient(top, $lightblue 67%, #ffffff 33%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(67%, $lightblue), color-stop(33%, #ffffff));
  background: linear-gradient(to bottom, $lightblue 67%, #ffffff 33%);
  color: #ffffff;

  // .photos__body

  &__body {
    position: relative;
  }

  &__text {
    max-width: 42%;
    padding-left: 5px;
  }

  // .photos__title

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 162%;
  }

  // .photos__text

  &__description {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
  }

  // .photos__slider

  &__slider {
    padding: 0 100px;
  }

  // .photos__slide

  &__slide {
    overflow: hidden;
    max-height: 648px;
    img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  &__button-next,
  &__button-prev {
    background: url("../img/arrow_l.svg") center / contain no-repeat;
    position: absolute;
    top: 40px;
    width: 25px;
    height: 52px;
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    &.swiper-button-disabled {
      background: url("../img/arrow_l_gold.svg") center / contain no-repeat;
    }
  }

  &__button-next {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    right: 25px;
    left: auto;
  }
  &__button-prev {
    right: 130px;
  }

  @media (max-width: 991.98px) {
    &__text {
      max-width: 75%;
    }
    &__slide {
      max-height: 450px;
    }
    &__title {
      font-size: 36px;
    }

    // .photos__text

    &__description {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 160%;
    }
  }
  @media (max-width: 767.98px) {
    padding: 50px 0 0;
    &__slider {
      padding: 0;
      position: relative;
    }
    &__button-next,
    &__button-prev {
      top: -50px;
      width: 17px;
      height: 33px;
    }
    &__text {
      width: 100%;
      max-width: 100%;
    }
    &__description {
      margin-bottom: 60px;
    }
    &__slide {
      max-height: 300px;
    }
  }
}

//============================================================
//MODAL FORM
.modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  z-index: 1000;

  &.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }

  // .modal__form

  &__form {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url("../img/close.svg") center / contain no-repeat;
    cursor: pointer;
  }

  // .modal__title

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 900;
  }

  // .modal__input-wrapper

  &__input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .modal__label

  &__label {
    display: block;
    margin-bottom: 30px;
  }

  // .modal__input

  &__input {
    display: block;
    width: 100%;
    padding: 20px 10px;
    margin-top: 15px;
    border: 1px solid #e7e7e7;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    &:first-of-type {
      margin-right: 20px;
    }
  }

  // .modal__textarea

  &__textarea {
    display: block;
    width: 100%;
    min-height: 85px;
    padding: 20px 10px;
    margin-top: 15px;
    border: 1px solid #e7e7e7;
    color: #000000;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  // .modal__btn

  &__btn {
    padding: 30px 80px;
  }

  @media (max-width: 767.98px) {
    &__form {
      padding: 20px;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 22px;
    }

    &__input-wrapper {
      display: block;
    }

    &__btn {
      padding: 25px 80px;
      width: 100%;
    }
  }

  @media (max-width: 360px) {
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;

    &__form {
      margin: 0;
      overflow-y: scroll;
    }
    &__input {
      margin-top: 7px;
    }

    &__label {
      margin-bottom: 10px;
    }
  }
}

//=========================================================================
//FOOTER
.footer {
  padding: 101px 0;
  // .footer__contacts-form

  &__contacts-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 41px;
  }

  // .footer__contacts

  &__contacts {
    padding-left: 5px;
  }

  // .footer__title

  &__title {
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 183%;
  }

  // .footer__contact

  &__contact {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: auto;
    gap: 0 16px;

    &:nth-of-type(3) {
      margin-bottom: 55px;
    }
  }

  // .footer__contact-icon

  &__contact-icon {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #d3b47f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;

    &_c {
      background-image: url("../img/footer-call.svg");
    }

    &_m {
      background-image: url("../img/mail.svg");
    }

    &_h {
      background-image: url("../img/clock.svg");
    }

    &_map {
      background-image: url("../img/map.svg");
    }
  }

  // .footer__subtitle

  &__subtitle {
    grid-column: 2/3;
    grid-row: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #2e2e2e;
  }

  // .footer__contact-link

  &__contact-link {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #2e2e2e;
  }

  // .footer__form

  &__form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 57.5%;
    -ms-flex: 0 0 57.5%;
    flex: 0 0 57.5%;
    padding: 0 10px 0 3px;
  }

  // .footer__form-inputs-wrapper

  &__form-inputs-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  // .footer__form-label

  &__form-label {
    display: block;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

  // .footer__form-flex

  &__form-flex {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    &:first-of-type {
      margin-right: 14px;
    }
  }

  // .footer__input

  &__input {
    display: block;
    width: 100%;
    padding: 28px 15px;
    margin-top: 15px;
    border: 1px solid #e7e7e7;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  // .footer__textarea

  &__textarea {
    display: block;
    width: 100%;
    min-height: 125px;
    padding: 30px 15px;
    margin-top: 15px;
    border: 1px solid #e7e7e7;
    color: #000000;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  // .footer__btn

  &__btn {
    padding: 38px 105px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  // .footer__map

  &__map {
    max-height: 547px;
    width: 100%;
    padding: 0 5px;
  }

  // .footer__bottom

  &__bottom {
    padding: 38px 7px 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .footer__logo

  &__logo {
    display: block;
    width: 269px;
    height: 60px;
    background: url("../img/logo_footer.png") center / contain no-repeat;
  }

  // .footer__links

  &__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    li {
      margin-right: 25px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  // .footer__link

  &__link {
    display: block;
    width: 48px;
    height: 48px;
    padding: 14px 0;
    border-radius: 50%;
    border: 1px solid #000000;
    text-align: center;
  }

  @media (max-width: 991.98px) {
    &__contacts-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &__form {
      width: 100%;
    }
  }
  @media (max-width: 767.98px) {
    padding: 50px 0;
    &__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__map {
      iframe {
        height: 340px;
      }
    }
    &__title {
      font-size: 36px;
      margin-bottom: 20px;
    }
    &__contact {
      margin-bottom: 20px;
      &:nth-of-type(3) {
        margin-bottom: 20px;
      }
    }
    &__contact-icon {
      width: 50px;
      height: 50px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__contact-link {
      font-size: 18px;
    }

    &__input,
    &__textarea {
      padding: 15px 10px;
    }
    &__btn {
      padding: 24px 70px;
      font-size: 16px;
    }
  }
  @media (max-width: 479.98px) {
    &__btn {
      width: 100%;
    }
  }
}
// .gmnoprint {
//   display: none;
// }
